.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}

.box-shadow-10 {
  box-shadow: 0 0px 10px #d9d9d9;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.d-content {
  display: contents;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-center-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-align-center {
  display: flex;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.border-4 {
  border-radius: 4px !important;
}

.border-8 {
  border-radius: 8px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.fs-12 {
  font-size: 12px;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fw-6 {
  font-weight: 600 !important;
}

.fw-7 {
  font-weight: 700 !important;
}

.fw-9 {
  font-weight: 900 !important;
}

.btn-success {
  background: #2dce89 !important;
  border: #2dce89 !important;
}
