.add_banner {
  .form_container {
    height: fit-content;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0px 10px #d9d9d9;
  }

  .ant-upload.ant-upload-select-picture-card {
    width: 160px;
    height: 121px;
  }
}