.layout_admin {
  height: 100vh;

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .logo {
    height: 64px;
    background: rgba(255, 255, 255, 0.2);
    // box-shadow: 0 1px 9px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 9px 0 #d9d9d9;
    .title {
      vertical-align: text-bottom;
      font-size: 18px;
      text-transform: uppercase;
      display: inline-block;
      font-weight: 700;
      color: #1890ff;
      white-space: nowrap;
      margin-bottom: 0;
      background-image: -webkit-gradient(
        linear,
        37.219838% 34.532506%,
        36.425669% 93.178216%,
        from(#f2994a),
        to(#f2c94c),
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .site-layout .site-layout-background {
    background: #fff;
  }

  .site-layout {
    .admin_avatar {
      list-style-type: none;
    }
  }

  .ant-layout-sider {
    background: #fff;

    .ant-layout-sider-children {
      box-shadow: rgba(24, 144, 255, 0.1) 0 0 28px 0;
    }
  }
}
