.login_container {

  padding: 10rem;
  .content_wrapper {
    width: 392px;
    border-radius: 4px;
    box-shadow: 0 2px 9px 0 #d9d9d9;
    background-color: #ffffff;
    margin: auto;
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      vertical-align: text-bottom;
      font-size: 22px;
      text-transform: uppercase;
      display: inline-block;
      font-weight: 700;
      color: #1890ff;
      white-space: nowrap;
      margin-bottom: 0;
      background-image: -webkit-gradient(
        linear,
        37.219838% 34.532506%,
        36.425669% 93.178216%,
        from(#f2994a),
        to(#f2c94c),
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}